
<div class="main">
  <div class="header-content">
    <span><fa-icon [icon]="faCloud" size="4x" [classes]="['cloud-icon']" [spin]="true"></fa-icon></span>
    <h3 class="heading-text">Weather Checker </h3>
  </div>
  <div class="search-content">
    <input type="search" class="input" #input (keyup)="onKeyUp($event)" (keyup.enter)="getWeather()" placeholder="Enter city" />
    <button class="btn" *ngIf="!isLoading; else showLoading" (click)="getWeather()">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
    <ng-template #showLoading>
      <button class="btn">
        <fa-icon [icon]="faSpinner" [spin]="true"></fa-icon>
      </button>
    </ng-template>
  </div>
  <div class="card-content" *ngIf="this.weatherData">
    <app-country-card [weatherData]="this.weatherData" [loadingState]="isLoading"></app-country-card>
  </div>

  <div *ngIf ="showError" class="error">
      <p><fa-icon [icon]="faError"></fa-icon><span>{{errorMessage}}</span></p>
  </div>

</div>
